PORT=1111
MONGO_URI=mongodb+srv://yourname_db_user:password@careline360.jumdxls.mongodb.net/CareLine360 
NODE_ENV=development
CLIENT_URL=http://localhost:5173

JWT_SECRET=_jwt_secret_doctor_management_system


JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_EXPIRE=7d

CLOUDINARY_CLOUD_NAME= your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here


# Email Configuration (for notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your email address here 
SMTP_PASS=your email 16 digit password or app-specific password here
EMAIL_FROM=CareLine@360.com

GEMINI_API_KEY=your_gemini_api_key_here